body {
  margin: 0;
      padding: 0;
      height: 100vh;
      background: linear-gradient(to right, #ffffff, #535162); 
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: right; 
      background-repeat: no-repeat;
      overflow: hidden;
}

.background-image {
  position: absolute;
  top: 10px;
  left: -55px;
  width: 50%; 
  height: 100%;
  background: url('Images/download.png') no-repeat; 
  background-size: cover;
  filter: brightness(0.5); 
  z-index: 3px;
}

.container {
  text-align:center;
  width: 430px;
  height: 225px;
  margin-left: 7%;
 
}

h1 {
  color: #000000;
  
  font-family:DIN-Next;
  font-weight:bolder;
  
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  top: -84px;
  left: 271px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 1px;
  bottom: 1px;
  background-color: rgb(232, 233, 234);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1aae9f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1aae9f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}


.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}



.neonText {
  color: #000000;
  font-weight: 600px;
  font-size: 25px;
  
  
}



h1 {
  text-align: left;
  font-weight: 300;
  margin-left: 20%;
  
}

h1 {
  font-size: 2.0rem;
}

.cont {
  margin-top: 20vh;
}




#exitButton {
  background-color: #d3455b;
  color: #ffffff;
  border: none;
  padding: 12px 15px;
  font-family:DIN-Next;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  left:-50px;
  top:40px;
  font-family:DIN-Next;
  
  
  
  
}

#redirectButton {
  background-color: #007BFF; 
  color: #ffffff; 
  border: none;
  padding: 12px 15px;
  font-family:DIN-Next;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  right: -30px;
  top: 41px;
  

 
  
  
}

.icon {
  width: 12px; 
  height: auto;
  margin-left: 5px; 
}

@font-face {
  font-family: 'DIN-Next';
  font-style: normal;
  font-weight: 1000;
  src: url('Fonts/DINNextW1G-Bold.otf'); 
 }