body {
  margin: 0;
      padding: 0;
      height: 100vh;
      background: linear-gradient(to right, #ffffff, #535162); /* Adjust the gradient colors */
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: right; /* Position the image on the left */
      background-repeat: no-repeat;
      overflow: hidden;
}

.background-image {
  position: absolute;
  top: 10px;
  left: -55px;
  width: 50%; /* Set the width of the image on the left */
  height: 100%;
  background: url('Images/download.png') no-repeat; /* Replace 'your-image.png' with your image path */
  background-size: cover;
  filter: brightness(0.5); /* Adjust brightness if needed */
  z-index: 3px;
}

.container {
  text-align:center;
  width: 430px;
  height: 225px;
  margin-left: 7%;
 
}

h1 {
  color: #000000;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  font-family:DIN-Next;
  font-weight:bolder;
  
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 24px;
  top: -84px;
  left: 271px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 1px;
  bottom: 1px;
  background-color: rgb(232, 233, 234);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1aae9f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1aae9f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

/* 
text animation */

.neonText {
  color: #000000;
  font-weight: 600px;
  font-size: 25px;
  
  
}



h1 {
  text-align: left;
  font-weight: 300;
  margin-left: 20%;
  
}

h1 {
  font-size: 2.0rem;
}

.cont {
  margin-top: 20vh;
}




#exitButton {
  background-color: #d3455b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-family:DIN-Next;
  cursor: pointer;
  border-radius: 5px;
 margin-left: -3%;
  margin-top: 30px;
  
  
  
}

#redirectButton {
  background-color: #007BFF; /* Blue background color */
  color: #ffffff; /* White text color */
  border: none;
  padding: 12px 15px;
  font-family:DIN-Next;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  margin-left: 18%;

 
  
  
}

.icon {
  width: 12px; /* Adjust the width of the icon as needed */
  height: auto;
  margin-left: 5px; /* Add some spacing between text and icon */
}

@font-face {
  font-family: 'DIN-Next';
  font-style: normal;
  font-weight: 1000;
  src: url('Fonts/DINNextW1G-Bold.otf'); 
 }